.contactbackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-bottom: 12px;
  background-image: linear-gradient(
      320deg,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.9)
    ),
    url("/assets/contactbg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .contentbox {
    padding: 5px;
    color: white;
  }

  .contentheading1 {
    font-weight: bold;
    font-size: 3rem;
  }

  .contentheading2 {
    font-weight: bold;
    font-size: 2rem;
  }
}

.silderbox {
  margin-top: 50px;

  .slider {
    width: 70%;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #f8f9fa;
  }
}
